/*!
 * Body content
 */
html, body {
  width: 100%;
  position: relative;
}

body {
  background: #f0eaf5;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 18px;
}

/*
.wrapper {
  max-width: 1250px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}
*/
/*!
 * Header content
 */
a, a:hover {
  color: #bf985d;
  text-decoration: none;
}

.header-left-top p {
  color: #bf985d;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 20px;
  margin-bottom: 0px;
  line-height: 30px;
}

.header-left-top a {
  color: #bf985d;
  font-size: 24px;
  font-size: 18px;
  font-weight: bold;
}

ul li {
  list-style: none;
}

.menu {
  margin: 0px;
  padding: 0px;
}
.menu li {
  padding: 0 15px;
}
.menu a {
  font-size: 18px;
  font-weight: bold;
}

.create-sign a {
  margin-right: 20px;
}
.create-sign a img {
  margin-left: 5px;
}

.header-left-bottom .menu li:nth-child(3) {
  padding-right: 0px;
}

.header-right-bottom .menu li:nth-child(1) {
  padding-left: 0px;
}

/*!
 * Main content
 */
.bac-top {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/bac-top.png);
  width: 540px;
  height: 759px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}

.bac-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url(../img/bac-bottom.png);
  width: 540px;
  height: 759px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}

.carousel-indicators li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: white;
}

.carousel-indicators .active {
  background-color: #6797d9;
}

.carousel-item .row .col-md-6 {
  background: #bf985d;
}

.carousel-indicators {
  margin-left: 5%;
}

#carouselExampleIndicators {
  margin: 10px;
}

.carousel-caption .col {
  background-image: url(../);
}
.carousel-caption .col h5 {
  width: 100%;
  background-color: #6797d9;
  opacity: 0.8;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding: 20px 10px;
  margin-top: 20px;
}
.carousel-caption h5 {
  color: #ffffff;
  font-weight: bold;
  font-variant: small-caps;
}
.carousel-caption a {
  width: 225px;
  height: 55px;
  border: 3px solid #fbf8f8;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  font-variant: small-caps;
  margin-top: 50px;
}

.carousel-caption {
  right: 0%;
  left: 0%;
  height: 90%;
}

.carousel-control-next, .carousel-control-prev {
  display: none;
}

.cat-item {
  background-color: #bf985d;
  text-align: center;
  padding: 10px 0;
  margin: 10px 10px;
  width: 165px;
}
.cat-item p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.head-product {
  margin: 15px 0;
}
.head-product h2 {
  font-size: 24px;
  font-weight: bold;
  color: #bf985d;
  margin-left: 10px;
}
.head-product a {
  color: #bf985d;
  font-size: 22px;
  text-decoration: underline;
  margin-right: 10px;
}

.itam {
  padding: 10px;
  background: white;
  border: 3px solid #d5d3d3;
  background-color: #fefdfd;
  max-width: 261px;
  height: 401px;
  margin: 10px;
}
.itam .product-save p {
  color: #6797d9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px;
}
.itam .product-img {
  height: 235px;
}
.itam .product-title a p {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  font-variant: small-caps;
  min-height: 30px;
  width: 180px;
  text-align: center;
  margin-bottom: 5px;
}
.itam .product-price a p {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  font-variant: small-caps;
  margin-right: 10px;
  margin-bottom: 0px;
  position: relative;
}
.itam .product-price a h4 {
  margin-bottom: 0px;
  color: #6797d9;
  font-weight: 400;
  font-variant: small-caps;
}
.itam .product-btn a {
  display: block;
  width: 199px;
  height: 45px;
  background-color: #bf985d;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 45px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 5px;
}
.itam .product-btn a:hover {
  background-color: #6797d9;
}

.product-price p:after {
  content: "";
  width: 60px;
  height: 1px;
  background: black;
  position: absolute;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  left: 0px;
  top: 12px;
}

.content-banner {
  margin: 0px;
  height: 325px;
}
.content-banner .col {
  height: 100%;
  background-image: url(../img/banner-bot.jpg);
  background-repeat: no-repeat;
}
.content-banner .col h5 {
  width: 100%;
  background-color: #6797d9;
  opacity: 0.9;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  margin-top: 40px;
}
.content-banner .col-lg-8 {
  padding: 25px;
  background: #bf985d;
  color: white;
}
.content-banner .col-lg-12 {
  padding: 25px;
  background: #bf985d;
  color: white;
}

.cat-bottom {
  margin: 15px 10px;
  width: 359px;
  height: 115px;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  line-height: 115px;
}

.cat-bottom:nth-child(1) {
  background-image: url(../img/cat1.jpg);
}

.cat-bottom:nth-child(2) {
  background-image: url(../img/cat2.jpg);
}

.cat-bottom:nth-child(3) {
  background-image: url(../img/cat3.jpg);
}

.menu-s {
  display: none;
}

.disp {
  display: block !important;
}

.mob-menu .menu li {
  text-align: center;
}

.mob-menu .menu a {
  text-align: center;
  margin: 10px;
}

/*!
 * Footer content
 */
footer {
  border-top: 5px solid #bf985d;
  background: white;
  padding-top: 20px;
}

.footer-content .col-md-3 p {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}
.footer-content .col-md-3 ul {
  padding: 0px;
}
.footer-content .col-md-3 ul li a {
  color: #000000;
}
.footer-content .col-md-3 .social {
  margin-top: 5px;
}
.footer-content .col-md-3 .social a {
  margin-right: 5px;
}
.footer-content .col-md-3 form {
  margin-top: 20px;
}
.footer-content .col-md-3 form input[type=text] {
  width: 100%;
  height: 52px;
  border: 2px solid #d3d1d1;
  background-color: #ffffff;
  padding: 10px;
  color: #000000;
  font-size: 14px;
  outline: none;
}
.footer-content .col-md-3 form input[type=text]::-webkit-input-placeholder {
  text-align: center;
}
.footer-content .col-md-3 form input[type=text]:-ms-input-placeholder {
  text-align: center;
}
.footer-content .col-md-3 form input[type=text]::-ms-input-placeholder {
  text-align: center;
}
.footer-content .col-md-3 form input[type=text]::placeholder {
  text-align: center;
}
.footer-content .col-md-3 form input[type=submit] {
  line-height: 35px;
  border-radius: 0px;
  color: #ffffff;
  font-size: 30px;
  margin-top: 5px;
  width: 100%;
  height: 52px;
  border: 2px solid #6797d9;
  background-color: #6797d9;
}
.footer-content .products-site p {
  position: relative;
  top: -20px;
  color: #000000;
  font-size: 17px;
}

/*Responsive*/
/* Medium Layout: 1200px.xl */
@media only screen and (max-width: 1200px) {
  .carousel-caption a {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
}
/* Tablet Layout: 992px. lg*/
@media only screen and (max-width: 992px) {
  .carousel-caption h5 {
    font-size: 16px;
  }

  .carousel-caption a {
    width: 120px;
    height: 30px;
    margin-top: 10px;
    line-height: 20px;
    font-size: 18px;
  }

  .content-banner .col {
    display: none;
  }

  .cat-bottom {
    width: 319px;
    height: 85px;
    font-size: 20px;
    line-height: 85px;
  }

  .footer-content .col-md-3 p {
    font-size: 18px;
  }

  .footer-content .col-md-3 ul li a {
    font-size: 16px;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
  }
}
/* Mobile Layout: 768px. md*/
@media only screen and (max-width: 768px) {
  .cat-item {
    width: 155px;
  }

  .content-banner {
    height: auto;
  }

  .cat-bottom {
    width: 300px;
    height: 75px;
    font-size: 18px;
    line-height: 75px;
  }

  .footer-content .products-site p {
    top: 0px;
  }
}
/* Wide Mobile Layout: 576px. sm*/
@media only screen and (max-width: 576px) {
  .head-product h2 {
    font-size: 18px;
    margin: 0px;
  }

  .head-product a {
    color: #bf985d;
    font-size: 15px;
    text-decoration: underline;
    margin-right: 10px;
  }

  .bac-top, .bac-bottom {
    display: none;
  }

  .cat-item {
    width: 135px;
  }

  .footer-content div {
    text-align: center;
  }
}
/* Wide Mobile Layout: 375px. */

/*# sourceMappingURL=style.css.map */