/*!
 * Body content
 */

html,body {
  	width: 100%;
  	position: relative;
}

body {
	background: #f0eaf5;
  	font-family: $font-family;
  	font-size: $font-size;
}

/*
.wrapper {
  max-width: 1250px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}
*/
